@import "bulma";

.container {
  // display: flex;
  width: 100%;
  margin: 35px auto;
}
h1 {
  font-size: 66px;
  font-weight: bolder;
  text-align: center;
  margin:20px;
  font-family: 'Pacifico', cursive;
}

form {
    border: 20px solid pink;
    padding: 10px;
    background: silver;
    width: 40%;
}
p.submit {
  display: flex;
  justify-content: center;
}


#submit:hover {
  color:black;
  border:1px solid pink;
  // border:1px solid #0090c0;
  background-color: #f8f8f8;
  // background-color: #ece9e9
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
#submit{
  color: grey;
  margin: 5px;
  height: 50px;
  width:150px;
  font-size: larger;
}
span {
  font-size: 10px;
}
.type-errors {
  color: red;
}
input, textarea {
  width: 400px;
}
.button {
  color: grey;
  height: 15px;
  width:24px;
  font-size: 6px;
  padding: 0;
}
.hide {
  visibility: hidden;
}
li:hover {
  .hide {
    visibility: visible;
  }
}

.button:hover {
  color: #d20a0a;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(171, 31, 31, 0.4);
    height: 30px;
    width: 50px;
    border: none;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 600;
}

.storedContacts {
  display: flex;
  flex-direction: column;
  padding-top:50px;
    h2 {
      font-size: 25px;
      font-weight: bolder;
      i {
        font-size: 15px;
      }
    }
}
img.icon {
  height: 20px;
  width: 20px;
}

li {
  padding-top: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;

  .LargeImg {
    background: silver;
    border: 20px solid pink;
    padding: 10px;
  }
}
