

.container {
  // display: flex;
  width: 570px;
  margin: 15px auto;
}
form {
    border: 20px solid pink;
    padding: 10px;
    background: silver;
        h1 {
          font-size: 30px;
          font-weight: bolder;
          text-align: center;
        }

}


button:hover {
  color:black;
  border:1px solid pink;
  // border:1px solid #0090c0;
  background-color: #f8f8f8;
  // background-color: #ece9e9
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
button {
  color: grey;
  margin: 5px;
  height: 80px;
  width:150px;
  font-size: larger;
}
span {
  font-size: 10px;
}
.type-errors {
  color: red;
}
input, textarea {
  width: 500px;
}

@import "bulma"
